#container {
  text-align: center;
}

#text {
  display: inline-block;
  color: #fbde44ff;
  letter-spacing: 2px;
}

#cursor {
  display: inline-block;
  width: 3px;
  height: 4.5rem;
  background-color: #fff7ec;
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  from,
  to {
    background-color: transparent;
  }
  50% {
    background-color: #fff7ec;
  }
}
